.mainBody{
    background: #7B904B ;
}

.theCalculator{
    border: 2px solid black;
    width: 350px;
    margin: 0auto;
    height: 400px;
    padding-top: 25px;
    background-color: #2C514C;
}

.calculatorDiv{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 300px;

}
#calculationField{
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F5F9E9;
    width: 300px;
    margin: 0 auto;
}   

.buttons{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}
#textInField{
    font-size: 25px;

}